version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.10.1
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: run tests
          command: make test
